<nav>
   <ul>
      <li><a href="#">NA-NA-NA</a></li>
      <li><a href="#">NA-NA-NA</a></li>
      <li><a href="#">NA-NA-NA</a></li>
      <li><a href="#">NA-NA-NA</a></li>
      <li><a href="#">NA-NA-NA</a></li>
   </ul>
</nav>